<div class="footer">
  
       
            <ul>
             <li>&#169; &nbsp; 2024 Worldlust, Inc</li>
             <li>Terms</li>
             <li>Sitemap</li>
             <li>Privacy</li>
             <li>Your Privacy Choices</li>
            </ul>
       
         <div class="footer-icn">
             <div class="eng icons">
                 <i class="fa-solid fa-earth-europe mt-1"></i>
                 <p>English</p>
             </div>
             <div class="dolar icons">
                 <i class="fa-solid fa-dollar-sign mt-1"></i>
                 <p>USD</p>
             </div>
             <div class="f-icons icons">
                 <i class="fa-brands fa-facebook"></i>
                 <i class="fa-brands fa-x-twitter"></i>
                 <i class="fa-brands fa-instagram "></i>
             </div>
         </div>
  
</div>