<% layout('/layouts/boilerplate.ejs') -%>
<body>
 <div class="listing row-cols-lg-3 row-cols-md-2 ">
  <% for(let list of listingData){ %>
 
  <a href="/listing/<%=list._id%>" class="listing-link">
  
      <div class="card  " style="width: 25rem;" >
        <img src="<%=list.image%>" class="card-img-top " alt="listing ">
        <div class="card-body">
          <h5 style="color: black;"><%= list.title %></h5>
          <p class="card-text" style="color: black;">RS <%= list.price.toLocaleString('en-PK') %></p>
        </div>
      </div>
    
  </a>
  <% } %> 
  </div>
    
</body>
