<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>
<body>
    <h1>Add Listing Item:</h1>
    
    <form action="/listing" method="post">
        <input type="text" name="listing[title]" placeholder="Add a catchy title">
        <br><br>
        <textarea name="listing[description]"  cols="30" rows="10"></textarea>
        <br><br>
        <input type="text" name="listing[image]"  placeholder="URL"><br><br>
        <input type="number" name="listing[price]"  placeholder="1200"><br><br>
        <input type="text" name="listing[location]" Splaceholder="Lahore">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Pakistan">
        <br><br>
        <button>Post</button>
    </form>
</body>
</html>